body{
	background-image: url('../img/img_background.jpg');
}

#dvBox {
	border: 2px solid #78BBD8;
  background-color: #FFF;
	padding: 5px 5px 5px 5px;
  border-radius: 38px;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 437px;
	height: 350px;
	margin-top: -170px;
	margin-left: -205px;
}

#imgLogin{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 90px;
}

#tdUser{
	padding: 20px 0px 5px 2px;
	font-family: monospace;
	color: #7b6c63;
	font-size: 15px;
}

#tdPassword{
	padding: 15px 0px 5px 2px;
	font-family: monospace;
	font-size: 15px;
		color: #7b6c63;

}


#entrar{
	margin-top: 20px;
	margin-left: 5px;
	width: 425px;
	height: 40px;
	border: 1px solid #78BBD8;
	background-color: #51a3a3;
	color: white;
	border-radius: 10px;
	font-weight: bold;


}

#entrar:hover{
	background-color: #489292;
}

#entrar:focus{
	outline-style: none;
}

#Login:focus{
	outline-style: none;
	border-color: #487081;
}

#Pass:focus{
	outline-style: none;
	border-color: #487081;
}

#Login::placeholder{
	color: #E0E0E0;
}

#Pass::placeholder{
	color: #E0E0E0;
}

#Login{
border: 1px solid #78BBD8;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
border-radius: 10px;
}

#Pass{
	border: 1px solid #78BBD8;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
border-radius: 10px;
}

.semtexto{
	border-color: red;

}

.semtextoplace::placeholder{
	color:red;
}
